*.log*
.nitro
.cache
.output
.env

# Created by https://www.toptal.com/developers/gitignore/api/vuejs,yarn,nuxtjs
# Edit at https://www.toptal.com/developers/gitignore?templates=vuejs,yarn,nuxtjs

### Nuxtjs ###
# Nuxt build
.nuxt

# Nuxt generate
dist

### Vuejs ###
# Recommended template: Node.gitignore

node_modules/
npm-debug.log
yarn-error.log

### yarn ###
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored

.yarn/*
!.yarn/releases
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# if you are NOT using Zero-installs, then:
# comment the following lines
#!.yarn/cache

# and uncomment the following lines
 .pnp.*

# End of https://www.toptal.com/developers/gitignore/api/vuejs,yarn,nuxtjs
